<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Cormorant+Infant:ital,wght@1,300;1,500&family=EB+Garamond:wght@400;500&family=Eczar:wght@400;500&family=Fredericka+the+Great&family=Labrada&family=Satisfy&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="/Scripts/layout.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="~/Content/Stylesheet/_layout.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">

            <img class="logo-website" src="~/Content/Pictures/logo.jpg" />

            @Html.ActionLink("MedScheduler", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                @{

                    if (User.Identity.IsAuthenticated && Session["Role"].ToString() == "Admin")
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        </ul>
                        <ul class="navbar-nav d-flex justify-content-between">

                            <li>@Html.ActionLink("View messages", "ViewMessageList", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Add admin", "Addadmin", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Sign out", "Signout", "Admin", new { area = "" }, new { @class = "nav-link" })</li>

                        </ul>
                    }


                }


            </div>
        </div>
    </nav>
    <div class="container body-content">
        @if (User.Identity.IsAuthenticated)
        {
            <h3 class="text-danger fs-4 fw-bolder">Welcome, @User.Identity.Name!</h3>

            @RenderBody()
          

        }

        <hr />
        <footer>
            <div class="d-flex flex-column text-center">
                <h2 class="footer-heading">MedScheduler</h2>
                <h5>We appreciate your interest. Feel free to contact us for more information or to discuss your needs.</h5>
                <div class="d-flex flex-row justify-content-center">
                    <div class="m-2"><i class="fa-brands fa-square-instagram fa-2xl"></i> </div>
                    <div class="m-2"><i class="fa-brands fa-facebook fa-2xl"></i></div>
                    <div class="m-2"><i class="fa-brands fa-whatsapp fa-2xl"></i></div>
                    <div class="m-2"><i class="fa-brands fa-linkedin fa-2xl"></i></div>

                </div>
                <h5>&copy; @DateTime.Now.Year - MedScheduler</h5>

            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="~/Scripts/Javascript/Backbutton.js"></script>






    @*
        window.onunload: you are attempting to prevent the browser from caching the page. This means that when the user tries to navigate back to the page, the browser will reload the content from the server instead of using the cached version.
        When a user navigates through different pages in a web browser, a history of visited pages is maintained. The browser's history consists of a stack-like structure, where each visited page is added to the top of the stack. The user can then navigate back and forth between these pages using the browser's navigation buttons.
        The window.history.forward() function is used to simulate a forward navigation action.
    *@
</body>

</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>














