@model MedScheduler.Models.Doctor_Patient_SlotBooking

@{
    ViewBag.Title = "BookingDoctorPatient";
    Layout = "~/Views/Shared/_PatientLayoutPage.cshtml";
}


<h2 class="text-success fs-2 fw-bolder">Book your slot</h2>

<link href="~/Content/DoctorController.css" rel="stylesheet" />

<div id="displayDetails" class="displaydetails bg-danger">
    @foreach (var patient in Model.PatientSignUp)
    {
        <h5><strong class="text-danger">Name:</strong>@patient.Firstname @patient.Lastname</h5>
        <h5><strong class="text-danger">Age:</strong>@patient.Dateofbirth</h5>
        <h5><strong class="text-danger">Gender:</strong>@patient.Gender</h5>
        <h5><strong class="text-danger">Phonenumber: </strong>@patient.Phonenumber</h5>
        <h5><strong class="text-danger">Email:</strong> @patient.Email</h5>
        <h5><strong class="text-danger">Workspace:</strong> @patient.Address</h5>
        <h5><strong class="text-danger">Specialisation:</strong> @patient.State</h5>
        <h5><strong class="text-danger">Experiance:</strong> @patient.City</h5>
        <h5><strong class="text-danger">Username:</strong> @patient.Username</h5>
        <h5><strong class="text-danger">Password:</strong> @patient.Password</h5>
    }
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="row">
            <div class="col-3">
                @foreach (var patient in Model.PatientSignUp)
                {
                   
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlotBooking.PatientId, htmlAttributes: new { @class = "control-label ", style = "color:black; font-size:20px;font-weight:bolder" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SlotBooking.PatientId, new { htmlAttributes = new { @class = "", Value = $"{patient.Id}" } })
                            @Html.ValidationMessageFor(model => model.SlotBooking.PatientId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlotBooking.Firstname, htmlAttributes: new { @class = "control-label ", style = "color:black; font-size:20px;font-weight:bolder" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SlotBooking.Firstname, new { htmlAttributes = new { @class = "", Value = $"{patient.Firstname}" } })
                            @Html.ValidationMessageFor(model => model.SlotBooking.Firstname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlotBooking.Lastname, htmlAttributes: new { @class = "control-label ", style = "color:black; font-size:20px;font-weight:bolder" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SlotBooking.Lastname, new { htmlAttributes = new { @class = "", Value = $"{patient.Lastname}" } })
                            @Html.ValidationMessageFor(model => model.SlotBooking.Lastname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlotBooking.Age, htmlAttributes: new { @class = "control-label ", style = "color:black; font-size:20px;font-weight:bolder" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SlotBooking.Age, new { htmlAttributes = new { @class = "", min = "0" } })
                            @Html.ValidationMessageFor(model => model.SlotBooking.Age, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlotBooking.Gender, htmlAttributes: new { @class = "control-label ", style = "color:black; font-size:20px;font-weight:bolder" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SlotBooking.Gender, new { htmlAttributes = new { @class = "", Value = $"{patient.Gender}", style = "font-size:16px;font-weight:bolder" } })
                            @Html.ValidationMessageFor(model => model.SlotBooking.Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlotBooking.Email, htmlAttributes: new { @class = "control-label ", style = "color:black; font-size:20px;font-weight:bolder" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SlotBooking.Email, new { htmlAttributes = new { @class = "", Value = $"{patient.Email}" } })
                            @Html.ValidationMessageFor(model => model.SlotBooking.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlotBooking.Phone, htmlAttributes: new { @class = "control-label ", style = "color:black; font-size:20px;font-weight:bolder" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SlotBooking.Phone, new { htmlAttributes = new { @class = "", Value = $"{patient.Phonenumber}" } })
                            @Html.ValidationMessageFor(model => model.SlotBooking.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlotBooking.Message, htmlAttributes: new { @class = "control-label ", style = "color:black; font-size:20px;font-weight:bolder" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SlotBooking.Message, new { htmlAttributes = new { @class = "" } })
                            @Html.ValidationMessageFor(model => model.SlotBooking.Message, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            </div>
            <div class="col-3">
                @foreach (var doctor in Model.DoctorSignUp)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlotBooking.DoctorId, htmlAttributes: new { @class = "control-label ", style = "color:black; font-size:20px;font-weight:bolder" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SlotBooking.DoctorId, new { htmlAttributes = new { @class = "", Value = $"{doctor.Id}",name= "model.SlotBooking.DoctorId" } })
                            @Html.ValidationMessageFor(model => model.SlotBooking.DoctorId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlotBooking.Doctorname, htmlAttributes: new { @class = "control-label ", style = "color:black; font-size:20px;font-weight:bolder" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SlotBooking.Doctorname, new { htmlAttributes = new { @class = "", Value = $"{doctor.Firstname} {doctor.Lastname}" ,name = "model.SlotBooking.Doctorname" } })
                            @Html.ValidationMessageFor(model => model.SlotBooking.Doctorname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlotBooking.Specialisation, htmlAttributes: new { @class = "control-label ", style = "color:black; font-size:20px;font-weight:bolder" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SlotBooking.Specialisation, new { htmlAttributes = new { @class = "", Value = $"{doctor.Specialisation}", name = "model.SlotBooking.Specialisation" } })
                            @Html.ValidationMessageFor(model => model.SlotBooking.Specialisation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlotBooking.Date_of_appointment, htmlAttributes: new { @class = "control-label ", style = "color:black; font-size:20px;font-weight:bolder" })
                        <div class="col-md-10">
                            <input type="date" id="appointmentDate" name="model.SlotBooking.Date_of_appointment" min="@DateTime.Now.ToString("yyyy-MM-dd")">
                            <div class="text-danger fs-5 fw-bolder " id="error-date-appointment"></div>
                            @Html.ValidationMessageFor(model => model.SlotBooking.Date_of_appointment, "", new { @class = "text-danger" })
                            <small class="text-danger fs-5 fw-bold"></small>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SlotBooking.Time_of_appointment, htmlAttributes: new { @class = "control-label ", style = "color:black; font-size:20px;font-weight:bolder" })
                        <select name="model.SlotBooking.Time_of_appointment" id="SlotBooking.Time_of_appointment" class="w-100 text-dark">
                            <option value="" class="w-100 text-dark">Select from dropdown</option>
                            <option value="10:00 AM-12:00 PM" class="w-100 text-dark">10:00 AM-12:00 PM</option>
                            <option value="01:00 PM-04:00 PM" class="w-100 text-dark">01:00 PM-04:00 PM</option>
                            <option value="06:00 PM-10:00 PM" class="w-100 text-dark">06:00 PM-10:00 PM</option>
                            <option value="12:00 AM-04:00 AM" class="w-100 text-dark">12:00 AM-04:00 AM</option>
                            <option value="06:00 AM-09:00 AM" class="w-100 text-dark">06:00 AM-09:00 AM</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.SlotBooking.Time_of_appointment, "", new { @class = "text-danger" })
                    </div>
                }
            </div>
            <div class="col-2">
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514981552-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514935242-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514981552-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514981552-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514935242-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514981552-612x612.jpg" />
                </div>
            </div>
            <div class="col-2">
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514981552-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514935242-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514981552-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514981552-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514935242-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514981552-612x612.jpg" />
                </div>
            </div>
            <div class="col-2">
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514981552-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514935242-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514981552-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514981552-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514935242-612x612.jpg" />
                </div>
                <div>
                    <img class="w-100 h-100" src="~/Content/Pictures/istockphoto-514981552-612x612.jpg" />
                </div>
            </div>
        </div>
        <div class="form-group d-flex flex-row ">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("BookingDoctorPatient","Patient")">
                    <input type="submit" value="Book slot" class="btn btn-success  fs-5 fw-bold text-decoration-none" />
                </a>
                <div class="btn btn-warning ">
                    @Html.ActionLink("Back", "Index")
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/Javascript/DoctorController.js"></script>
    <script src="~/Scripts/Javascript/patientcontroller.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}