@model MedScheduler.Models.AdminModel

@{
    ViewBag.Title = "Addadmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add admin</h2>
@if (TempData["AddadminErrorMessage"] != null)
{
    <div class="alert alert-danger d-flex justify-content-between">
        <strong>Information:  @TempData["AddadminErrorMessage"] </strong>
        <button type="button" class="btn-close" aria-label="Close" data-dismiss="alert"></button>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Adminname, htmlAttributes: new { @class = "control-label col-md-2 fs-5 fw-bolder" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adminname, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Adminname, "", new { @class = "text-danger fs-5 fw-bold" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Jobrole, htmlAttributes: new { @class = "control-label col-md-2 fs-5 fw-bolder" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Jobrole, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Jobrole, "", new { @class = "text-danger fs-5 fw-bold" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2 fs-5 fw-bolder" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger fs-5 fw-bold" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2 fs-5 fw-bolder" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger fs-5 fw-bold" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Identity_verification, htmlAttributes: new { @class = "control-label col-md-2 fs-5 fw-bolder" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Identity_verification, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Identity_verification, "", new { @class = "text-danger fs-5 fw-bold" })
            </div>
        </div>

        <div class="form-group d-flex flex-row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-success m-2" />
            </div>
            <div>
                @Html.ActionLink("Back ", "Index", "Admin", new { @class = "nav-link text-primary fs-4 fw-bolder  " })

            </div>


        </div>
    </div>
}


